{{#
    @name Default
    @desc The default template with an outer wrapper grid as defined in `resources/css/peak.css`. It makes sure all blocks on a page get evenly spaced without having to worry about margins or paddings.
#}}

<!-- /default.antlers.html -->
<main id="content">
    {{ if headline }}
        {{ partial:components/page_header }}
    {{ /if }}

    <div class="page-builder">
        {{ page_builder scope="block" }}
            {{ partial src="page_builder/{type}" }}
        {{ /page_builder }}
    </div>
</main>
<!-- End: /default.antlers.html -->
