{{#
    @name Default
    @desc The default template with an outer wrapper grid as defined in
          `resources/css/peak.css`. Pages that have a `headline` get the
          parchment surface and topographic decoration spanning the page
          header and any page-builder content below it.
#}}

<!-- /default.antlers.html -->
<main id="content" class="{{ if headline }}relative isolate overflow-hidden bg-parchment-100{{ /if }}">
    {{ if headline }}
        {{ partial:components/topographic }}
        {{ partial:components/page_header }}
    {{ /if }}

    <div class="page-builder">
        {{ page_builder scope="block" }}
            {{ partial src="page_builder/{type}" }}
        {{ /page_builder }}
    </div>
</main>
<!-- End: /default.antlers.html -->
