{{#
    @name Shop Index
    @desc Listing template for the Products collection. Page header followed
          by a 3-up grid of product cards. Same surface treatment as the
          Tips and Inspiration listings.
#}}

<!-- /shop/index.antlers.html -->
<main id="content" class="relative isolate overflow-hidden bg-parchment-100">
    {{ partial:components/topographic }}

    {{ if headline }}
        {{ partial:components/page_header }}
    {{ /if }}

    <section class="fluid-grid pb-12 md:pb-16 lg:pb-24">
        <ul class="span-content grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-fluid-grid-gap">
            {{ collection:products }}
                {{ if no_results }}
                    <li class="md:col-span-2 lg:col-span-3">
                        {{ partial:typography/p content="{trans:strings.no_results ?? 'There are currently no products.'}" color="text-text" }}
                    </li>
                {{ else }}
                    <li>
                        {{ partial:components/product-card }}
                    </li>
                {{ /if }}
            {{ /collection:products }}
        </ul>
    </section>
</main>
<!-- End: /shop/index.antlers.html -->
