{{#
    @name h5
    @desc The typography h5 partial to render an h5 with `class`, `as`, `color` and `content` attributes.
    @param* content The h5 content.
    @param as The wrapping element. Defaults to `h5`.
    @param color Set a custom text color utility. Falls back to `text-neutral`.
    @param class Add custom CSS classes.
#}}

<!-- /typography/_h5.antlers.html -->
<{{ as or 'h5' }} class="font-display font-bold text-xs md:text-base leading-[1.5] tracking-[0.08em] md:tracking-[0.05em] uppercase {{ color or 'text-neutral' }} {{ class }}">{{ content | nl2br }}</{{ as or 'h5' }}>
<!-- End: /typography/_h5.antlers.html -->
