{{#
    @name Paragraph Small
    @desc The typography small paragraph partial to render a smaller paragraph with `class`, `as`, `color` and `content` attributes.
    @param* content The p content.
    @param as The wrapping element. Defaults to `p`.
    @param color Set a custom text color utility. Falls back to `text-foreground`.
    @param class Add custom CSS classes.
#}}

<!-- /typography/_p_small.antlers.html -->
<{{ as or 'p' }} class="text-sm md:text-base font-normal leading-[1.5] mt-0 mb-8 last:mb-0 {{ color or 'text-foreground' }} {{ class }}">{{ content }}</{{ as or 'p' }}>
<!-- End: /typography/_p_small.antlers.html -->
