{{#
    @name Prose
    @desc The typography prose partial to render a prose object with `class` attribute.
    @param as The wrapping element. Defaults to `article`.
    @param class Add custom CSS classes.
#}}

<!-- /typography/_prose.antlers.html -->
<{{ as or 'article' }}
    class="
        prose prose-lg
        prose-a:text-blue-d-500
        prose-a:underline
        prose-a:decoration-blue-d-500
        prose-a:decoration-2
        prose-a:hover:text-blue-d-400
        prose-a:hover:decoration-blue-d-400
        prose-figure:my-0
        prose-pre:whitespace-pre-wrap
        max-w-none
        {{ class }}
    "
>
    {{ slot }}
</{{ as or 'article' }}>
<!-- End: /typography/_prose.antlers.html -->
